<div class="center">
    <h1>Productos del carrito {{_id}}</h1>
</div>
<table role="grid">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">title</th>
            <th scope="col">description</th>
            <th scope="col">category</th>
            <th scope="col">price</th>
            <th scope="col">thumbnail</th>
            <th scope="col">code</th>
            <th scope="col">stock</th>
            <th scope="col">status</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>{{this.product._id}}</td>
            <td>{{this.product.title}}</td>
            <td>{{this.product.description}}</td>
            <td>{{this.product.category}}</td>
            <td>{{this.product.price}}</td>
            <td>{{this.product.thumbnail}}</td>
            <td>{{this.product.code}}</td>
            <td>{{this.product.stock}}</td>
            <td>{{this.product.status}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>